* {
    margin: 0;

    font-family: 'Work Sans', sans-serif;
}

/* header section styles */
.header-section {
    height: 908px;
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 250px;
    background-size: cover;
}

.banner-titles {
    padding-bottom: 30px;
    text-align: right;
}

.main-title {
    color: white;
    font-weight: 700;
    font-size: 60px;
    padding-right: 10px;
    text-align: right;
    margin-bottom: 30px;
}

.banner-description {
    color: white;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 10px;
}

.header-btn {
    background-color: #ffffff;
    color: #005FAC;
    ;
    border: none;
    padding: 21px 25px;
    font-size: 25px;
    font-weight: 900px;
    border-radius: 7px;
    text-align: right;
    margin-right: 10px;
    margin-top: 32px;
}

/* First-main-section styles */

.failure-section {
    display: flex;
    align-items: center;
    gap: 100px;

}

.failure-section img {

    width: 569px;
    height: 723.3px;
    margin: 50px 0 80px 300px;
}

.failure-title {
    width: 400px;
    height: 416px;
}

.failure-title h3 {
    color: #005FAC;
    font-weight: 700;
    font-size: 40px;
}

.failure-description {
    color: #444343;
    margin: 30px 30px 30px 0;
}

.failure-list li:before {
    content: '✓';
}

.failure-list li {
    text-decoration: none;
    padding: 10px;
}

/* Second-main-section styles */

.success-section {
    display: flex;
    gap: 170px;
    align-items: center;
}

.success-section img {
    width: 569px;
    height: 450.3px;
    margin: 50px 300px 80px 0;
}

.success-title {
    width: 400px;
    height: 416px;
    margin-left: 350px;
}

.success-title h3 {
    color: #005FAC;
    font-weight: 700;
    font-size: 40px;

}

.success-description {
    color: #444343;
    margin: 20px 0 20px 0;
}

.success-list li {
    color: #444343;
    padding: 10px;
}

/* My skills section styles */

.m-skill {
    color: #005FAC;
    font-weight: 900;
    font-size: 45px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}

.skills-container {
    display: flex;
    gap: 30px;
    margin-left: 380px;
    margin-top: 70px;
}

.skills-container .skill {
    background-color: rgb(23, 137, 236);
    box-shadow: 7px 0px 15px gray;
    border-radius: 10px;
    padding: 30px;
    width: 200px;
    height: 250px;
    text-align: center;

}

.skill-title {
    color: white;
    font-size: 20px;
    font-weight: 700px;
    padding-top: 15px;
}

.skill-description {
    color: #ffffff;
    padding-top: 15px;
}