* {
    margin: 0;

    font-family: 'Work Sans', sans-serif;
}

/* header section styles */
.header-section {
    height: 908px;
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 250px;
    background-size: cover;
}

.banner-titles {
    padding-bottom: 30px;
    text-align: right;
}

.main-title {
    color: white;
    font-weight: 700;
    font-size: 60px;
    padding-right: 10px;
    text-align: right;
    margin-bottom: 30px;
}

.banner-description {
    color: white;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 10px;
}

.header-btn {
    background-color: #6acae2;
    color: #ffffff;
    border: none;
    padding: 21px 25px;
    font-size: 25px;
    font-weight: 900px;
    border-radius: 7px;
    text-align: right;
    margin-right: 10px;
    margin-top: 32px;
}

/* First-main-section styles */

.failure-section {
    display: flex;
    align-items: center;
    gap: 100px;

}

.failure-section img {
    border-radius: 100px;
    width: 569px;
    height: 723.3px;
    margin: 150px 0 200px 300px;
}

.failure-title {
    width: 400px;
    height: 416px;
}

.failure-title h3 {
    color: #005FAC;
    font-weight: 700;
    font-size: 40px;
}

.failure-description {
    color: #444343;
    margin: 30px 30px 30px 0;
}

.failure-list li:before {
    content: '✓';
}

.failure-list li {
    text-decoration: none;
    padding: 10px;
}